.btn-google {
  background-color: rgb(224, 224, 224);
  width: 100%;
  color: black;
  border-radius: 5px;

  width: 100%;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  border: none;
  outline: none;
  /* font-size: 12px !important; */
  line-height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* font-weight: 600; */
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.MuiFormControl-root p {
  margin-bottom: 0 !important;
  line-height: 18px;
  margin-top: 6px;
}
.btn-google:active {
  border: none !important;
}

.btn-google:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-google img {
  width: 20px;
}
.or-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  margin: 0 10px;
}

.or-text {
  color: #555;
  font-weight: bold;
}
.devis img {
  width: 100%;
}
.alred {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px !important;
  color: black !important;
  font-size: 20px;
}

.alred a {
  color: blue;
}
.in-gp {
  position: relative;
}

.abs-btna {
  position: absolute !important;
  right: 0px !important;
  border: none;
  background-color: transparent;
  top: 10px !important;
}
.form-control.is-invalid {
  border-color: #ff0019 !important;
}
.form-control.is-invalid::placeholder {
  color: red !important;
}
.abs-btna svg {
  /* color: gray; */
  /* font-size: 20px; */
}
.in-gp input {
  padding-right: 50px !important;
}
.reg-byn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background: #3fb65f !important;
  color: #fff !important;
  text-align: center;
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 50px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reg-byn:hover {
  background: #3fb65f !important;
  -webkit-box-shadow: 0px 14px 20px 0px rgba(8, 120, 38, 0.24);
  -moz-box-shadow: 0px 14px 20px 0px rgba(8, 120, 38, 0.24);
  box-shadow: 0px 14px 20px 0px rgba(8, 120, 38, 0.24);
}
.reg-byn:disabled {
  background-color: lightgray !important;
}
.reg-byn:disabled:hover {
  box-shadow: none !important;
}
