.har {
  width: 100px;
  background-color: #b545ff;
  margin-left: 0;

  height: 2px;
  margin-right: 12px;
}

.hai {
  color: #b545ff;
  font-size: 18px;
  font-weight: bold;
}

.video-container {
  position: relative;
  width: 100%;
}

.aspect-ratio-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .about-widget img {
    width: 100px;
  }
  .maina {
    flex-direction: column !important;
  }

  .mais,
  .title-ra {
    width: 100% !important;
  }
  .adka {
    margin-top: 10px;
  }
}
